/*-----------------------------*/
/*inits*/
/*-----------------------------*/
*{
    margin: 0px;
    padding: 0px;
	font-family:Arial;
}
header, main, footer, nav, section{
    display : block;
}

main >* ,footer ,header{
	padding-left:50px;
}
main >*,header {
	padding-top:60px;
	padding-bottom:55px;
}

a{
	text-decoration: none;
	color:#ED4C5C;
	font-size:14px;
}

ul li{
	margin-top: 40px;
	margin-right: 30px;
	display: inline-block;
}

/*-----------------------------*/
/*header*/
/*-----------------------------*/
header{
	background:#ED4C5C;
}

#logo{
	display : block;
	background:  url(../images/logo.png) left no-repeat;
	line-height: 50px;
	padding-left:60px;
	font-weight: bold;
	font-size:18px;
}

header *:not(button){
	color: #FFFFFF;	
	margin-bottom: 45px;
}
/*-----------------------------*/
/* nav*/
/*-----------------------------*/
nav a{
	margin-right: 50px;
}

nav a:hover{
	color:#808588;
}

header img{
	display: block;
	margin-left:30px;
	border-radius: 15px;
}

button{
	background-color: #FFFFFF;
	color:#ED4C5C;
	width:160px;
	font-weight: bold;
	font-size:14px;
	height:50px;
	border: 0;
	border-radius: 6px;
}

/*-----------------------------*/
/* Main*/
/*-----------------------------*/
main h1{
	font-size: 36px;
}

article p{
	margin-top: 30px;
	margin-bottom: 20px;
	font-size: 14px;
	line-height: 140%;
	width: 445px;
}

.listLinker li img{
	border-radius: 8px 8px 0px 0px;
}

.listLinker li a
{	
	font-weight: bold;
	border-radius:  8px;
	position: relative;
	display: block;
	background: #FFFFFF;
	box-shadow: 0px 5px 30px rgba(0, 0, 0, 0.1);
	color:#ED4C5C;
	text-align: center;
	height: 40px;
	line-height: 35px;
	margin-top: -25px;
}

.card {
	background:	#F5F4F4;
}
.card li{
	background:	#FFFFFF;
	text-align: center;
	margin:56px 30px 271px 0px;
	width:255px;
	height: 226px;
	display: inline-block;
}

.card img{
	margin-top:50px;
}

.card h2{
	margin-top:20px;
	margin-bottom:10px;
}

.card p{
	font-size: 12px;
	width:192px;
	margin-left: 34px;
}

/*-----------------------------*/
/* Footer area				   */
/*-----------------------------*/

footer{
	height: 80px;
	background: #ED4C5C;
	
}

footer section{
	padding-top:33px;
}

footer section p{
	display:inline-block;
	color: #FFFFFF;
	margin-left:80px;
}
footer section img{
	margin-right:28px;
}
