/*-----------------------------*/
/*inits*/
/*-----------------------------*/
*{
    margin: 0px;
    padding: 0px;	
	font-family:Arial;
}

main,footer, section,aside, div,#logo{
    display : block;
}
a{
	color:#ffffff;
	text-decoration: none;
}

header,footer{
	background-color: #d6d6d6;	
}

/*-----------------------------*/
/* Header area */
/*-----------------------------*/
header{
	display:flex;
	justify-content:center;
	align-items:center;
	height: 187px;
}

#logo{
	background:url(../images/logo.png) no-repeat center;
	height: 50px;
	width: 50px;
	margin:auto;	
}

#wrapper {
	background-color:#9c29b7;
}

a:hover:not(#currentWeb) {
	background-color: #111;
}

/*-----------------------------*/
/* navigMenu */
/*-----------------------------*/
nav:not(#wrapper nav){
	height: 65px;
	justify-content:center;
	align-items:center;
	width:100%;
}
nav{
	background-color: #333;
	display: flex;
}
#wrapper nav a{
	padding-left: 6px;
	line-height: 54px;
}
#wrapper nav {
    flex-direction: column;
	height: 740px;
	width: 136px;
}
nav a:not(#wrapper a){
	line-height: 40px;
	width: 235px;
	text-align: center;
}
main{
	display: flex;
	flex-direction: row;
	background-color:#eeeeee;
	margin: 0 auto;
    width: 71%;
}

main aside div{
	margin-top: 200px;
    background-color: #B94A48;
    height: 59px;
    width: 148px;
	margin-left: 73px;
}
.flex-container {
	width: 76%;
	background-color: #ffffff;	
}
.page1{
	height: 680px;
}

.page1 section:nth-child(2){
	margin-top: 210px;
}

.page1 section:nth-child(2){
	float: right;
}
.page2
{
    display: flex;
    align-items: flex-end;
	height: 740px;
	width: 300px;
	padding-bottom:52px ;
	background-image: linear-gradient( #7FDBFF,#001f3f ); 

}
.page2 section{

	display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;


	width: 280px;
}
.flex-container section{
	display: flex;
    flex-wrap: wrap;
	width: 280px;
}

.flex-container section div,.page2 div {
	margin:14px 25px;
    height: 90px;
    width: 90px;
    background-color: #B94A48;
 }





.column>*{
	background-image: linear-gradient( #7FDBFF,#001f3f ); 
	width: 270px;
	margin:20px;
}

.page2 + section{
	display: flex;
    flex-wrap: wrap;
}

.column{
	flex-direction: column;
}
.column:first-child div:nth-child(1){

    height: 320px;
}

.column:first-child div:nth-child(2){

    height: 250px;
}

.column:last-child div:nth-child(1){
    
    height: 380px;
}
.column:last-child div:nth-child(2){
    
    height: 356px;
	margin-bottom:0px;
}
/*-----------------------------*/
/* bold current web */
/*-----------------------------*/
#currentWeb{
	background-color: #4CAF50;
}

/*-----------------------------*/
/* Footer area */
/*-----------------------------*/

footer{
	height: 52px;
	width: 100%;
	
}
.fixed{
    position: fixed;
    left: 0;
    bottom: 0;
}