/*-----------------------------*/
/*inits*/
/*-----------------------------*/
*{
    margin: 0px;
    padding: 0px;	
	font-family:Arial;
}

header,nav,section:not(.wrapper section),main{
	display:flex;
}
footer{
    display : block;
}
a{
	color:#ffffff;
	text-decoration: none;
}
header,footer{
	background-color: #d6d6d6;	
}
header + nav,header{
	justify-content:center;
	align-items:center;
}
/*-----------------------------*/
/* Header area */
/*-----------------------------*/
header{
	height: 187px;
}
#logo{
	background:url(../images/logo.png) no-repeat center;
	height: 50px;
	width: 50px;
}
/*-----------------------------*/
/* navigMenu */
/*-----------------------------*/
header + nav{
	height: 65px;
}
nav{
	background-color: #333;
}
main a{
	padding-left: 6px;
	line-height: 54px;
}
main nav{
    flex-direction: column;
	height: 800px;
	width: 14%;
}
header + nav a{
	line-height: 36px;
	width: 17%;
	text-align: center;
}
/*-----------------------------*/
/* container1 */
/*-----------------------------*/
.container1 {
	width: 76%;
	background-color: #ffffff;	
	min-height: 680px;
}
.container1 section{
	width: 36%;
	
}
.container1 section:nth-child(1){
	align-self: flex-start;

}
 .container1 section:nth-child(2){
	margin-left: 40%;
	align-self: flex-end;
}
.container1 div,.container1 + aside div{
	background-color: #B94A48;
}
section section div:not(.c){
    height: 90px;
    width: 90px;
	margin: 15px;
 }
/*-----------------------------*/
/* aside */
/*-----------------------------*/
aside{
	padding-top: 200px;
	width: 24%;
	padding-left: 20px;
	background-color: #6e97d5;
}
aside div{
    height: 59px;
    width: 60%;
	margin-left: 33%;
}
.container2{
	width: 23%;	
	align-items: flex-end;
	padding-bottom:52px ;
	background-color: #6e97d5;
}
.container2 div{
	background-image: linear-gradient( #7FDBFF,#001f3f );
}
section section{
    flex-wrap: wrap;
}
.container2 + section{
	width: 62%;
}
/*-----------------------------*/
/* column */
/*-----------------------------*/
.c div div{
	background-image: linear-gradient( #7FDBFF,#001f3f ); 
}
.c >*{
	width: 46%;
}
.c div:first-child div:nth-child(1){
    height: 320px;
}

.c div:first-child div:nth-child(2){
    height: 412px;
}

.c div:last-child div:nth-child(1){    
    height: 260px;
}
.c div:last-child div:nth-child(2){  
    height: 368px;
}
.wrapper section {
	text-align:right;
}
.wrapper{
	flex-wrap: wrap;
	justify-content: center;
}
.wrapper section{
	height: 330px;
	width: 359px;
}
/*-----------------------------*/
/* bold current web */
/*-----------------------------*/
#currentWeb{
	background-color: #4CAF50;
}
.imgBgr{
	background-image: url('../images/dog.jpg');
	background-repeat: no-repeat;
	background-position: center; 
}
.wrapper span{
	background-image: url('../images/plus.png');
	background-repeat: no-repeat;
	border-radius: 50%;
    width: 250px;
    height: 228px;
    display: block;
	margin: auto;
}
/*-----------------------------*/
/* wrapper area */
/*-----------------------------*/
.wrapper section:first-child {
	display: flex;
}
/*-----------------------------*/
/* Footer area */
/*-----------------------------*/
footer{
	height: 52px;
	width: 100%;
}
.fixed{
    position: fixed;
    left: 0;
    bottom: 0;
}
/*-----------------------------*/
/* Desktop area */
/*-----------------------------*/

@media (min-width:651px)  {
	main{
		margin: auto;
		width: 71%;
	}
	.c {
		margin-top: 22px;
	}
	.c div div{
		margin-bottom: 22px;
		margin-left:22px;
	}
	header + nav a{
		line-height: 36px;
		width: 17%;
		text-align: center;
	}
}
/*-----------------------------*/
/* tablet/mobile area */
/*-----------------------------*/
@media (max-width:650px)  {
	aside div{
		height: 20px;
		width: 40%;
		margin-left: 13%;
	}
	header + nav a{
		line-height: 36px;
		margin:10px;
		text-align: center;
	}
	.container1 section:nth-child(2){
		margin-left: 10%;
		align-self: flex-end;
	}
	.c {
		margin-top: 10px;
	}
	.c div div{
		margin-bottom: 10px;
		margin-left:10px;
	}
	nav a{
		font-size: 13px;
	}

}
/*-----------------------------*/
/* tablet&desktop area */
/*-----------------------------*/
@media (min-width:481px)  {
	a:hover:not(#currentWeb) {
		background-color: #111;
	}
	.wrapper section:not(:first-child){
		cursor: pointer;
	}
	.wrapper span:hover{
		cursor: pointer;
		background-color: #ffffff;
	}
}
/*-----------------------------*/
/* mobile area */
/*-----------------------------*/
@media (max-width: 480px) {
	.c >*{
		width: 20%;
	}
}